@{
    int totalMovie = 0;
    int totalUser = 0;
    int totalShow = 0;
    int totalRevenue = 0;

    int.TryParse(ViewData["totalMovie"]?.ToString(), out totalMovie);
    int.TryParse(ViewData["totalUser"]?.ToString(), out totalUser);
    int.TryParse(ViewData["totalShow"]?.ToString(), out totalShow);
    int.TryParse(ViewData["totalRevenue"]?.ToString(), out totalRevenue);
}


<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1>Dashboard</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row d-flex justify-content-around" >
                    <div class="col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Total Movies: </div>
                            <h3 class="card-body text-center">@totalMovie Movies</h3>
                          
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Total Shows: </div>
                            <h3 class="card-body text-center">@totalShow Shows</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Total Users: </div>
                            <h3 class="card-body text-center">@totalUser Users</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Total revenue: </div>
                            <h3 class="card-body text-center">@((totalRevenue * 1000).ToString("C"))</h3>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>
