@using Cinema.Models

@{
    var genres = ViewData["Genres"] as List<Genre>;
    var contries = ViewData["Countries"] as List<Country>;
}

@model Film
<div class="pagetitle">
    <h1>Update Film</h1>
</div><!-- End Page Title -->

<div class="container border-0 bg-white card p-3">
    <form asp-area="Admin" asp-controller="Film" asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="FilmId">
        <div class="p-3">
            <div>
                <div class="row mb-3">
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Title</span>
                        <input asp-for="Title" type="text" required class="form-control" placeholder="title">
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Premiere</span>
                        <input asp-for="Premiere" type="date" required class="form-control" placeholder="premiere">
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Actor</span>
                        <input asp-for="Actor" type="text" required class="form-control" placeholder="actor">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Author</span>
                        <input asp-for="Author" type="text" required class="form-control" placeholder="author">
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Duration</span>
                        <input asp-for="Time" type=" number" required class="form-control" placeholder="duration" min="30" max="150">
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Thumbnail</span>
                        <input asp-for="Img" type="text" required class="form-control" placeholder="Enter file url">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Genres</span>
                        <select asp-for="GenreId" class="form-control">
                            @if (genres != null)
                            {
                                @foreach (var item in genres)
                                {
                                    <option value="@item.GenreId">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Country</span>
                        <select asp-for="CountryCode" class="form-control">
                            @if (contries != null)
                            {
                                @foreach (var item in contries)
                                {
                                    <option value="@item.CountryCode">@item.CountryName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <span class=" mb-2">Slide</span>
                        <input asp-for="ImagesSlide" type="text" class="form-control" placeholder="Enter file url">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class=" mb-2">Description</span>
                        <textarea asp-for="Description" class="form-control" required rows="5" wrap="hard"></textarea>
                    </div>
                </div>

            </div>
            <div class="mt-3">
                <button class="btn btn-primary w-100" type="submit">Save</button>
            </div>
        </div>
    </form>

</div>
