<div class="container mt-5">
    <div class="card text-center border-0 p-3">
        <h5 class="card-title">Congratulations on your successful ticket purchase.</h5>
        <p class="card-text">Thank you for trusting Cinema. Cinema wishes you happy and comfortable movie watching hours.</p>
        <p class="mt-3"><i>If you have trouble booking tickets, please contact 0123456789 for help.</i></p>
    </div>
    <a asp-area="User" asp-controller="Booking" asp-action="History" class="btn btn-primary">Go to booking history</a>
</div>